// Define variables for your color scheme

// For example:
$green: #40C9A2;
$teal: #40C9A2;
$dark-grey: #6E8387;
$light-gray: #A4B8C4;
$gray-hover: #E5E5E5;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$gray: #0E0000;
$orange: #E67E22;
