<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Make your voice heard!</title>
</head>
<body>
  <h1>Welcome to VotoBooth</h1>
  <p>You have been added to the eligible voters list for election.</p>
</body>
</html>
