Welcome to VotoBooth

You have been added to the eligible voters list for.


  <p>If you think you can make a bigger influence by running in this election, you can <%= link_to 'become a candidate!', new_election_candidature_url(@election) %>.</p>
