.page-container-candidature {
  position: absolute;
  top: 95px;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8141631652661064) 0%, rgba(0,0,0,0.6320903361344538) 39%, rgba(0,0,0,0.3603816526610645) 72%), url(image_path('candidature-profile-picture.jpg')), ;
  background-size: cover;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

#candidate-header {
  position: relative;
  top: 500px;
  margin-left: 30px;
  color: white;
}

.promise-card {
  top: 565px;
  border-radius: 0px;

}

.campaign-promise {
  margin: 15px;
}

.cast-vote-div {
    text-align: center;
    margin: 15px;
}
