.tabs {
 margin-top: 40px;
 display: flex;
 text-align: center;
 width: 100%;
 margin-bottom: 30px;
   a {
    color: $dark-grey;
    text-decoration: none !important;
    font-weight: 300;
    padding-bottom: 10px;
  }
  .active {
    font-weight: 700;
    border-bottom: 3px solid $green;
  }
}



.tabs:hover {
  text-decoration: none;
}

.tab {
  flex: 1 1 auto;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.dropdown-btn a {
  color: $dark-grey;
}
.dropdown-btn a:hover {
  text-decoration: none !important;
}

.build-election-btn {
  margin-bottom: 40px;
}


.nav-tabs {
  border-bottom: none;
}
