.tabs {
 margin: 15px 0px;
 display: flex;

  a {
  color: black;
  text-decoration: none !important;
  }
}

.tabs:hover {
  text-decoration: none;
}

.tab {
  flex: 1 1 auto;
}

 .cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.dropdown-btn a {
  color: $dark-grey;
}
.dropdown-btn a:hover {
  text-decoration: none !important;
  }


