.election-home-banner {
  margin-bottom: 70px;
  h4 {
    font-size: 1.15em;
  }
  h6 {
    color: white;
    font-weight: 700;
    font-size: .75em;
    margin-bottom: 40px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 0px;
    margin-top: 15px;

  }
}

// .election-home-details {

//   height: 100%;
// }


.election-time-left {
  margin-top: 20px;
}

.election-home-details p {
  font-size: .75em;
}


.election-details-container {
  margin-bottom: 4rem;
  margin-top: 3.25rem;
  #candidates-btn {
    margin-top: 2rem;
  }
}
