<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-election-new">
        <h2>Eligible Voters</h2>
        <%= render './elections/form2' %>
      </div>
    </div>
  </div>
</div>
