<div class="container eligible-voter-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-election-new">
        <h2>Eligible Voters</h2>
        <%= render './elections/form2' %>
        <div class="wrapper-eligible-voters">
          <% @election.eligible_voters.each do |eligible_voter| %>
           <div class="eligible-card">
             <p><%= eligible_voter.user.email %></p>
             <%= link_to 'Delete', eligible_voter_path(eligible_voter.id), class: "btn-small-white", method: :delete, data: { confirm: "Do you want to remove #{eligible_voter.user.first_name}?" } %>
           </div>
          <% end %>
          <br>
        </div>

        <%= link_to 'See your election', election_path(@election.id), class: 'btn btn-large-white' %>
      </div>
    </div>
  </div>
</div>
