
<div class="page-container">
  <div class="form-election-new">
    <h2 class="heading-medium-gray-bold">Eligible Voters</h2>
    <%= render './elections/form2' %>
    <%= link_to election_path(@election.id) do %>
        <div class="btn-plain header-link">
          View election
        </div>
        <% end %>
    <h4 class="heading-medium-gray-bold">Email List</h4>

    <% @election.eligible_voters.each do |eligible_voter| %>
     <div class="eligible-card">
       <h4><%= eligible_voter.user.email %></h4>
       <%= link_to 'x', eligible_voter_path(eligible_voter.id), method: :delete, data: { confirm: "Do you want to remove #{eligible_voter.user.first_name}?" } %>
     </div>
    <% end %>
  </div>
</div>
