<div class="candidature-new-banner">
  <div class="page-container">
    <h2 class="heading-medium-white-bold">Become a candidate </h2>
    <h6>for <%= @election.name %></h6>

  </div>
</div>

<div class="form-election-new page-container">
  <%= render 'form1' %>
</div>
