<%= simple_form_for @election, defaults: { input_html: { id: 'eligible-voters-form' } } do |f| %>
  <div class="input-field">
    <%= f.input :eligible_voters_string, label: 'Who can vote in this election? Input voter email addresses', placeholder: 'Type email addresses here', as: :text, input_html: {rows: 1} %>
  </div>
  <div>
    <%= f.submit 'Add voters', { input_html: { onclick: 'resetForm()' }, class: "btn-large-green-new" } %>
  </div>
<% end %>
