<div class="title">
  <h1>You don't need to be present to choose wisely.</h1>
</div>
<div class="subtitle">
  <p>Hosting, running and voting in elections made simple.</p>
</div>

<%=link_to 'Build an election', new_election_path, class: "btn-medium-white" %>
