.btn-medium-green {
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: lighter;
}

.btn-large-green-new {
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: 15px 15px;
  text-align: center;
  font-weight: 400;
  font-size: .75em;
  width: 100%;
  a {
    color: white !important;
  }
  input {
    color: white !important;
  }
}

.btn-small-white {
  font-size: 0.75em;
  color: $dark-grey;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  border-color: $dark-grey;
  padding: 15px 15px;
  text-align: center;
  a {
    color: $dark-grey
  }
}

.btn-medium-white {
  border-style: solid;
  border-color: $dark-grey;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
  color: $dark-grey;
  padding: 15px 15px;
  font-weight: lighter;
  text-align: center;
  a {
    color: $dark-grey
  }
}

.btn-small-white-no-border {
  font-size: 0.75em;
  background-color: white;
  padding: 15px 15px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  a {
    color: $dark-grey;
  }
}

.btn-medium-white-no-border {
  border-radius: 5px;
  background-color: white;
  color: $dark-grey;
  padding: 10px;
  font-weight: lighter;
}

.btn-large-white {
  color: gray;
  background-color: white;
  border: solid 1px;
  border-color: gray;
  padding: 5px 15px;
}

.btn-cast-vote {
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: 5px 30px;
  font-weight: light;
}


.btn-plain {
  a {
    color: $dark-grey;
    font-weight: 300;
    font-size: .75em;
  }
}

.btn-plain-bold {
  color: $dark-grey;
  a {
    color: $dark-grey;
    font-weight: 700;
    font-size: .75em;
  }
}


.btn-grn-lg {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  color: white !important;
  font-weight: 400;
  font-size: .75em;
  border-radius: 5px;
  background-color: $green;
  a {
    color:white;
  }
}

#button-add-voters {
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: 15px 15px;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  width: 100%;
  a {
    color: white !important;
  }
  input {
    color: white !important;
  }
}

.dropdown-menu {
  padding: 15px !important;
  li {
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: right;
  }
  .element {
    padding: 10px !important;
  }
}


.btn-scroll-down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 85%;
  color: white;
  a {
    padding-top: 60px;
  }
  a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  }
  span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
}

.dropdown .dropdown-toggle {
  color: $dark-grey !important;
}

.btn-group .btn:focus {
    box-shadow: 0 0 0 0 transparent;
  }

.election-card-button {
  display: flex;
}

.view-election {
  width: -webkit-fill-available;
}

