.btn-medium-green {
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: lighter;
}

.btn-large-green-new {
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: 15px 15px;
  text-align: center;
  font-weight: 400;
  font-size: .75em;
  width: 100%;
  a {
    color: white !important;
  }
  input {
    color: white !important;
  }
}

.btn-small-white {
  font-size: 0.75em;
  color: $dark-grey;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  border-color: $dark-grey;
  padding: 15px 15px;
  text-align: center;
  a {
    color: $dark-grey
  }
}

.btn-medium-white {
  border-style: solid;
  border-color: $dark-grey;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
  color: $dark-grey;
  padding: 15px 15px;
  font-weight: lighter;
  text-align: center;
  a {
    color: $dark-grey
  }
}

.btn-small-white-no-border {
  font-size: 0.75em;
  background-color: white;
  padding: 15px 15px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  a {
    color: $dark-grey;
  }
}

.btn-medium-white-no-border {
  border-radius: 5px;
  background-color: white;
  color: $dark-grey;

  padding: 10px;
  font-weight: lighter;
  a {
    color: $dark-grey;
  }
}

.btn-large-white {
  color: gray;
  background-color: white;
  border: solid 1px;
  border-color: gray;
  padding: 5px 15px;
}

.btn-cast-vote {
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: 5px 30px;
  font-weight: light;
}


.btn-plain {
  a {
    color: $dark-grey;
    font-weight: 300;
    font-size: .75em;
  }
}

.btn-plain-bold {
  a {
    color: $dark-grey;
    font-weight: 700;
    font-size: .75em;
  }
}


.btn-grn-lg {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  // color: white !important;
  font-weight: 400;
  font-size: .75em;
  border-radius: 5px;
  background-color: $green;
  a {
    color:white;
  }
}

#button-add-voters {
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: 15px 15px;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  width: 100%;
  a {
    color: white !important;
  }
  input {
    color: white !important;
  }
}
