.election {
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.election-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  h2 {
    margin-bottom: 20px;

    }

   p {
    font-size: .75em;
    font-weight: 400;
    color: $dark-grey;
    line-height: 1.5em;
    text-align: right;
  }
}


.election-card-body-polling {
  h4 {
    color: $dark-grey;
    font-size: .75em;
    margin-bottom: 5px;
  }
  #election-date {
    font-weight: 700;
  }
  p {
    margin-bottom: 5px;
  }
}

.election-card-header .pending {
    color:  $light-gray;
    border: 1px solid $light-gray;
    padding: 2px;
  }

.election-card-header .live {
    color: $green;
    border: 1px solid $green;
    padding: 2px;
  }

.election-card-header .closed {
    color: red;
    border: 1px solid $red;
    padding: 2px;
  }


.election-card-body-polling {
  // padding: 0 20px;

p {
  line-height: 0.5;
  }
}

.election-card-body-candidates {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin: 15px 0px;
  p {
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .number-badge {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $green;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    h4 {
      font-size: 1em;
      text-align: center;
      margin-bottom: 0px;
    }
  }
}

.election-card-status {
  display: flex;

  ul {
    font-size: .75em;
    font-weight: 400;
    color: $dark-grey;
  }
}

.election-card-status-section {
  flex-grow: 1;
  text-align: center;
  line-height: 0.5;
  h6 {
    color: $dark-grey;
    font-weight: 700;
    font-size: .75em;
    text-align: right;
  }
  #time-remaining {
    text-align: right;
  }
}

.election-card-body-polling p {
  line-height: 1.25em;
}


.dropdown-lg {
  width: 100%;
  margin-top: 1.5rem;
  button {
    text-align: left;
  }
}

.dropdown-lg-menu {
  width: 100%;
  .element {
    text-align: left !important;
  }
}





