.eligible-card {
  display: flex;
  padding: 16px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  p {
    margin: 10px;
  }
  h4 {
    color: $dark-grey;
    font-size: 1em;
  }
  a {
    color: $green;
  }
}

.btn-small-white {
  font-size: 0.5em;
  color: $dark-grey;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  border-color: $dark-grey;
  padding: 5px 5px;
  text-align: center;
  a {
    color: $dark-grey;
  }
}

.eligible-voter-container {
  margin-bottom: 20px;
}
