.form-election-new {
  // padding: 15px;
  margin-top: 10px;
  .btn-large-green-new {
  margin-top: 3rem;
  margin-bottom: 10px;
  text-decoration: none;
  }
  h2 {
    color: $dark-grey;
    font-weight: bold;
  }
  .input-field {
    color: $dark-grey;
    .form-control-label {
    }
    .form-control {
      box-shadow: none;
      border-radius: 0px;
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }
}

.form-login {
  color: white;
  padding: 15px;
  margin-top: 10px;
  .btn-large-white {
  color: #6E8387;
  background-color: white;
  border-radius: 5px;
  padding: 5px 30px;
  width: 30%;
  }
  h2 {
    font-weight: bold;
    color: white;
  }
  .form-control {
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}


.form-group input {
  background-color: transparent !important;
}

#user_email, #user_password {
  box-shadow: none;
}

.form-group {
  margin-bottom: 2rem;
}

.log-in-form {
    color: $dark-grey;
}

.text {
  .required, .optional {
  resize: none;
  }
}
