.heading-medium-gray-bold {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  color: $dark-grey;
  margin-top: 40px;
  margin-bottom: 30px;

}

.heading-medium-gray-bold-smaller-margin {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  color: $dark-grey;
  margin-top: 20px;
  margin-bottom: 5px;
}


.heading-medium-gray-thin-smaller-margin {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  color: $dark-grey;
  margin-top: 5px;
  margin-bottom: 5px;
}


.heading-medium-white-bold {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  color: white;
  // margin-top: 40px;
  margin-bottom: 30px;

}

.heading-regular-gray-thin {
  font-size: 1em;
  font-weight: 400;
  color: $light-gray;
  a {
    color: $light-gray;
    &:hover {
    color: $dark-grey;
    }
  }
}


p {
  font-size: .75em;
  font-weight: 400;
  color: $dark-grey;
  line-height: 1.5em;
}


.header-link {
  margin-top: 2rem;
  text-align: right;
  color: $dark-grey;
  a {
    color: $dark-grey;
  }
}

.green-text {
  color: $green;
}
