.navbar-lewagon {
  justify-content: space-between;
  background-image: url(image_path('votobooth-bg-green.png'));

  li:hover ul{
    left:auto;
    right:0;
    margin-right:-10px;
  }
}

.navbar-fixed {
  background-image: none;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  color: white;
  border: none;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

#navbarSupportedContent {
  ul{
    left:auto;
    right:0;
    margin-right:-10px;
  }
}
