.navbar-lewagon {
  justify-content: space-between;
  background-image: url(image_path('votobooth-bg-green.png'));

  li:hover ul{
    left:auto;
    right:0;
    margin-right:-10px;
  }
}


.navbar {
  padding: 0.5rem 2rem;
}


.navbar-fixed {
  background-image: none;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  color: white;
  border: none;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

#navbarSupportedContent {
  ul{
    left:auto;
    right:0;
    margin-right:-10px;
  }
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}


.navbar-light .navbar-toggler {
    opacity: 1 !important;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    padding: 0px;
}


.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#hamburger-menu {
  font-size: 1.25em;
}


